
body {
    margin: 0;
    background-color: #2e422e;
    /* use system fonts */
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Roboto", 
   "Oxygen","Ubuntu","Helvetica Neue", Arial, sans-serif;
}
/*  body #2e422e 
    header-title bg #253625 
    header-title txt #ccccff */

.header-title{
    display: flex;
    justify-content: space-around;
    color: #ccccff;
    background-color: #253625;
}

#header-picture{
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 50%;
    
}

.navbar{
    float: right;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #ccccff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ccccff;
    color: black;
}
  
  /* Add an active class to highlight the current page */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens*/ 
  .navbar .icon {
    display: none;
}


@media screen and (max-width: 654px) {
    .navbar a {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 654px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      
      right: 0;
      top: 0;
    }

    .navbar.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

.section1 {
  color: #ccccff;
}

.section2 {
  color: #ccccff;
}

.section3 {
  color: #ccccff;
}
